.search-box {
  position: absolute;
  //   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-box-color);
  height: 40px;
  border-radius: 40px;
  padding: 10px;

  .search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--background-box-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0 6px;
    font-size: 16px;
    line-height: 40px;
    max-width: 480px;
    font-weight: bold;
    color: var(--text-primary-color);
  }
}

@media screen and (min-width: 557px) {
  .search-btn {
    float: right;
  }
}

@media screen and (max-width: 556px) {
  .search-btn {
    float: none;
    position: absolute;
    right: 10px;
  }
}
