div:first-of-type {
  margin: 20px 0;
}

.search-results {
  margin-top: 60px;

  .card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    app-card {
      margin: 15px;
      cursor: pointer;
    }
  }
}
